# ---------- VCS ----------
csrc/
DVEFiles/
simv
simv.daidir/
simv.vdb/
ucli.key
*.vpd

# ---------- Verdi ----------
novas.fsdb
novas.log
novas.rc
novas.conf
verdiLog/
verdi_config_file

# ---------- Design Compiler ----------
WORK/
cksum_dir/
*.rep
*.log
*.mr
*.pvl
*.svf
command.log


tips
